@import './Values.less';

.select-background-popver {
    .select-background-content {
        width: 152px;
    }
    .ant-popover-inner-content {
        padding-bottom: 0;
    }
    .anticon {
        margin-bottom: 12px;
        padding: 5px;
        border-radius: 4px;
        background-size: cover;
        color: @none-color;
        &.selected {
            color: @white-color;
        }
    }
}