@none-color: rgba(0, 0, 0, 0);
@dark-color: #000000;
@white-color: #ffffff;

@black-text-color: rgba(0, 0, 0, .65);
@white-text-color: rgba(255, 255, 255, .65);
@dark-black-text-color: rgba(0, 0, 0, .85);
@dark-white-text-color: rgba(255, 255, 255, .85);
@light-black-text-color: rgba(0, 0, 0, .45);
@light-white-text-color: rgba(255, 255, 255, .45);

@none-board-color: #e0e0e0;

@board-border-radius: 6px;
@grey-border-color: #d9d9d9;

@fragment-background-color: rgb(235, 236, 240);