@none-color: rgba(0, 0, 0, 0);
@dark-color: #000000;
@white-color: #ffffff;

@black-text-color: rgba(0, 0, 0, .65);
@white-text-color: rgba(255, 255, 255, .65);
@light-black-text-color: rgba(0, 0, 0, .45);

@none-board-color: #e0e0e0;

@border-radius: 6px;




// background-color
@blue-background-color: #2196f3;
@cyan-background-color: #00bcd4;
@green-background-color: #4caf50;
@grey-background-color: #9e9e9e;
@orange-background-color: #ff9800;
@purple-background-color: #9c27b0;
@red-background-color: #f44336;
@yellow-background-color: #fbc02d;

.blue-background-color {
    background-color: @blue-background-color,
}
.cyan-background-color {
    background-color: @cyan-background-color,
}
.green-background-color {
    background-color: @green-background-color,
}
.grey-background-color {
    background-color: @grey-background-color,
}
.orange-background-color {
    background-color: @orange-background-color,
}
.purple-background-color {
    background-color: @purple-background-color,
}
.red-background-color {
    background-color: @red-background-color,
}
.yellow-background-color {
    background-color: @yellow-background-color,
}